
#info p {
   font-size: 20px;
}
.video001 iframe {
   padding: 1em 0 0 0;
   margin: auto;
   width: 100%;
   height: 60vh;
}
/* Seitendesign Ende */

/* ------------------- */


@media screen and (max-width: 1081px) { /* Alles BIS 1081 Pixel breite */
   .rechte p {
      font-size: 16px;
   }
   .include1 .video001 iframe {
      height: 30vh;
   }
}
@media screen and (min-width:1999px) { /* Alles AB 1999 Pixel breite */
   
}