@media (orientation:portrait){
.adsbygoogle{
	display:none;
}	
}
#werbung, #werbung #b, #werbung #b #counter, #mobile-werbung, #licnt1644, .banner, #pjsfrrsplayer, #counter, .krest, .ytp-ad-overlay-image, iframe html body a{
display:none;
}
.close{
width:14px;
height:14px
}
@media (min-width: 401px) {
	#ix{overflow: hidden; margin-top: -190px; margin-left:-10px; width:105vw; height:160vh;
	}
}
@media (max-width: 400px) {
	#ix{overflow: hidden; margin-top: -305px; margin-left:-10px; width:105vw; height:200vh
	}
}