:root {
   --nav-h: 4vh; /* Höhe der NAV-Bar*/
   --nav-bg: #3333ff; /* Hintergrund der NAV-Bar*/
   
   --footer-bg: #6699ff;
   
   --bg-c: linear-gradient(to bottom, var(--nav-bg) 0%, var(--footer-bg) 100%); /* Hintergrundfarbe*/
   --t-c: black; /* Textfarbe */
   
   --h-c: grey; /* Hoverfarbe */
   --link-c: white; /* Textfarbe der Links*/
   --mc-submod: yellow;
   --border1: #30ff30;
   --border2: #50ff50;
   
   --selection: grey;
}
*{
   margin: 0;
   padding: 0;
   font-size: 22px;
   color: var(--t-c);
}
html {
   height: 100vh;
   width: 100vw;
}
body {
   /*height:100%;*/
   width: 100%;
   line-height:1;
   list-style:none;
   overflow-x: hidden;
   background-size: cover;
   background: var(--bg-c);
   background-repeat: no-repeat;
}
/* Header */
nav {
   height: var(--nav-h);
   width: 100%;
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--nav-bg);
}
.kopf a {
   text-decoration:none;
}
nav ul {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   list-style: none; /* Stichpunkte entfernen */
}
nav li {
   height: 100%;
   width: 9vw;
   text-align: center;
   position: relative;
}
nav ul a {
   height: 100%;
   width: 100%;
   display: flex;
   color: var(--link-c);
   align-items: center;
   justify-content: center;
   text-decoration: none;
}
.dropdown{
   height: min-content;
   width: 200px;
   background-color: lightblue;
   display: none;
   flex-direction: column;
   position: absolute;
   left: 0;
   top: var(--nav-h);
}
nav li:hover .dropdown {
   display: flex;
}
nav li:hover {
   background-color: blue;
}
nav input[type="checkbox"] {
   display: none;
}
.dropdown li {
   height: 30px;
   width: 100%;
   border: 1px solid black;
}
.dropdown li a {
   color: var(--nav-c);
   justify-content: flex-start;
   padding-left: 30px;
   width: calc(100% - 30px);
}
.dropdown li a:hover {
   background-color:#296b6b;
   color:yellow;
}
.hide-onDesktop {
   display: none;
}
.expandable_li { /* Kategorien im Header */
   display: flex;
   justify-content: center;
   align-items: center;
}
.header_switch { /* button zum umschalten des headers */
   height: 1vh;
   background: var(--link-c);
}
.toggle_button { /* klasse zum umschalten des headers */
   width: 30px;
   height: 23px;
   position: absolute;
   top: 25px;
   right: 25px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
}

/* Header Ende */
/*#####################################*/

/* Seitendesign */

.center1 {
   margin: auto;
   width: 80%;
}
#myText {
   display: none;
}
#myButton {
}
.medienzone01 button {
   width: 100%;
}
.knopf {
   background-color: var(--footer-bg);
   margin-bottom: 0.5em;
}
.ueberschrift {
   padding: calc(var(--nav-h) + 1em) 0 1em 0; /* Abstand nach oben */
}
p {
   padding:5px 0px 5px 0px;
}
#info {
   width: calc(100% - 20px);
   font-size: 20px;
   padding: 10px;
   display: none;
   border-color: var(--nav-bg);
   border-style: dashed;
}
.linkzone01 {
   width: calc(100% - 20px);
   padding: 10px;
   border-color: var(--nav-bg);
   border-style: dashed;
}
.linkzone01 .linkzone02 {
   width: calc(100% - 20px);
   padding: 10px;
   border-color: var(--border2);
   border-style: dashed;
}
.linkzone01 a:hover {
   color: grey;
}
.Textzone01 {
   width: calc(100% - 20px);
   padding: 10px;
   border-color: var(--nav-bg);
   border-style: dashed;
}
.Textzone01 a:hover {
   color: grey;
}
.hide1 {
   display: none;
}
.aussage {
   padding: 5px;
   width: 80%;
   margin: auto;
   text-align: center;
   border-color: var(--border2);
   border-style: dashed;
}
input {
   width: 8em;
   height: 1.85em;
   font-size: 70%;
   background-color: var(--selection);
   color: black;
}
.select {
   padding: 5px 0 0 0;
}
select {
   width: 10em;
   height: 1.85em;
   font-size: 70%;
   background-color: var(--selection);
   color: black;
   -webkit-appearance: none;
   -moz-appearance: none;
}
/* For IE <= 11 */
select::-ms-expand {
   display: none;
}/*
.include1 {
   padding: 0.4em 0;
}*/
.rechts_angezeigt {
   float: right;
}
.main-mod {
   padding: 0 0 10px 0;
}
.main-mod p a {
   color: red;
}
.sub-mod {
   border-color: var(--mc-submod);
   border-style: dashed;
}
.sub-mod p a {
   color: var(--mc-submod);
}
.scroll_y {
   height: 400px;
   overflow-y: scroll;
   overflow-x: hidden;
}
.abstand1 {
   padding:  0 0 90px 0;
}
.abstand2 {
   padding:  0 0 20px 0;
}
.zitat1 p {
   color: gold;
   padding: 0;
}
.zitat2 p {
   color: red;
}
.ende1, .ende1 p {
   padding: 10px 0 0 0; /* Abstand*/
   margin: auto; /* Zentrierung*/
}
/* Seitendesign Ende */
/*#####################################*/

/* Footer */

footer {
   display: block;
   float: left;
   position: fixed;
   text-align: left;
   width: 100%;
   padding: 5px 0px 5px 15px;
   bottom: 0;
   background-color: var(--footer-bg);
}
/*@media screen and (min-height: 1081px) {  Alles ab 1081 Pixel höhe 
   .video001 iframe {
      width: 100%;
      height: 450px;
   }
}*/

/* Für Spieleseiten */

/* Roblox - Tower Defense */
.tower01 {
   padding: 5px 0 0 0;
}
/* ------------------- */


@media screen and (max-width: 1081px) { /* Alles BIS 1081 Pixel breite */
   *{
      font-size: 20px;
   }
   .hide1 {
      display: block;
   }
   .hide2 {
      display: none;
   }
   .center1 {
      width: 80%;
   }
   /*nav {
   height: 100%;
   }*/
   nav ul {
      height: min-content;
	  width: 100%;
	  background: var(--nav-bg);
	  display: none;
	  position: absolute;
	  top: var(--nav-h);
   }
   .mobile_header {
      padding: 0;
      height: var(--nav-h);
      width: 100%;
   }
   nav li {
      height: 4vh;
	  width: 100%;
   }
   .expandable_li {
      display: block;
   }
   .expandable_li label {
	   cursor: pointer;
	   display: block;
   }
   .expandable_li:hover .dropdown {
      display: none;
   }
   .expandable_li input[type="checkbox"]:checked ~ .dropdown {
      display: block;
   }
   .dropdown {
      position: static;
	  width: 100%;
   }
   .dropdown li {
      position: static;
	  display: block;
	  height: 2vh;
   }
   .dropdown li a {
      width: 100%;
	  padding: 0;
	  justify-content: center;
   }
   select {
   width: 10.85em;
   height: 1.85em;
   font-size: 70%;
   }
   .rechte p {
      font-size: 16px;
   }
   .abstand1 {
      padding:  0 0 70px 0;
   }
   .non-padding {
      padding: 0;
   }
}
@media screen and (min-width:1999px) { /* Alles AB 1999 Pixel breite */
   ul {
      font-size:100%;
   }
   body {
      font-size: 30px;
      background-color:var(--bg-c); /* Hintergrundfarbe*/
   }
}