.musik1, .musik2, .dropdown1 {
   display: none;
}
.dropdown1 {
   float: right;
}
.m1:hover, .m2:hover {
   color: grey;
}
.expandable_list {
   width: 25%;
}
.expandable_list input[type="checkbox"]:checked ~ .dropdown1, .dropdown1 .expandable_list input[type="checkbox"]:checked ~ .dropdown1 {
   display: block;
}
.hide {
   display:none;
}
input[type="checkbox"] {
   width: 2em;
}
.expandable_list label {
   text-decoration: none;
}
.video001 iframe {
   width: 100%;
   height: 100%;
}